@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {opiacity: 1;}
  20%, 22%, 24%, 55% {opacity: 0.2;}
}

.flicker {
  animation: flicker 1s infinite;
}